@import "vendors/_bootstrap.scss";

//Variables
$primary-color: #3b5a76;
$background-color: #ededed;
$text-color: #363636;
$font: 16px;

body{
    padding-bottom: 0px;
    font-family: 'Open Sans', Arial, Tahoma;
    color: $text-color;
    background: $background-color;
    font-size: $font;
}

.row {
    margin-bottom: 20px;
}

.primary, h2 {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    //line-height: 1.4em;
}

.container-main {
    background: #fff;
    margin-top: 80px;
    padding: 0 30px 30px 30px;
}

header h1 {
    color: $primary-color;
    overflow: auto;
    margin: 0;
    padding: 20px 0 0 0;
    //font-size: 2.2em;
    //font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    line-height: 1.4em;
}

.media {
    background: $background-color;
    padding: 10px;
}

.media-body {
    h4 {margin:0 0 0 0;}
    h5 {margin:0}
    p {margin-top: 10px}
}

.profile-img {
    border-radius: 50%;
}

.img-thumbnail {
    height: 280px;
    margin: 0 10px 10px 0;
    float: left;
}

.line {
    max-width: 100%;
}

ul {
    padding: 0px 40px 10px 20px;
}

li {
    list-style-type: none;
    padding-bottom: 20px;

    img {
        padding: 0 20px 0px 0;
    }

    span {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 0.1em;
        margin-left: 52px;
        font-size: 15px;
        color:#ccc;
    }
}

footer {
    background-color: $primary-color;
    padding: 20px 0 20px 0;
    color: #fff;
    text-align: center;
}



